<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>


<div class="w3-main" style="margin-left:340px;margin-right:40px">
    
        <div class="container">
        <div class="footer">
            <div class="container">
               
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Blog</a></li>
    
            </div> 
    
        </div>
    
        <div class="footer-bottom">
            <div class="container">
                <p>&copy; 2023 Your Company. All rights reserved.</p>
            </div>
        </div>
    </div>
     
        
    
      
</div>