<div id="card" class="w3-main" style="display: flex; justify-content: center; align-items: center; height: 100vh; margin-left: 0px; margin-right: 0px;">
    <div id="card" class="w3-container w3-card-4 w3-padding-32"  style="max-width: 400px; width: 100%;background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 8px;">
      <h1 class="w3-xxxlarge w3-text" style="text-align: center; color:#B4846C; font-weight: bold; font-size: 36px;">Login</h1>
      <hr style="width: 50px; border: 5px solid ;color:#B4846C;  margin: 20px auto;" class="w3-round">
      
      <form >
        <div class="w3-section">
          <label for="email" style="font-size: 16px;">Email</label>
          <input class="w3-input w3-border w3-round" type="email" name="email" id="email"  required placeholder="Enter your email" style="padding: 12px; font-size: 14px;">
         
        </div>
        
        <div class="w3-section">
          <label for="password" style="font-size: 16px;">Password</label>
          <input class="w3-input w3-border w3-round" type="password" name="password" id="password"  required placeholder="Enter your password" style="padding: 12px; font-size: 14px;">
          
          
        </div>
        <div class="login-button" (click)="proprietaire()">
          <button id="b"  type="submit" class=" w3-block w3-padding-large w3 w3-margin-top w3-hover-shadow" style="font-size: 18px; font-weight: bold;background-color: white; border: 2px solid#B4846C;  border-radius: 5px;"><span style="color: #B4846C;">Login</span> </button>
        </div>
        
       
      </form>
      
      <p style="text-align: center; margin-top: 20px; font-size: 14px;">Don't have an account?? <a href="/sign" style="color:#B4846C;">sign up</a> </p>
      
    </div>
  </div>
  
