<div class="page-container">
  <div class="card-wrapper">
    <header class="header">
      <div class="logo">
        <img src="assets/images/logoo.png" alt="Logo de l'app" />
      </div>
      <button class="add-btn" (click)="addCard()">+ Ajouter</button>
    </header>

    <main class="grid-container">
      <div class="card" *ngFor="let card of cards">
        <div class="image-zone">
          <label class="upload-label">
            Ajouter une image
            <input type="file" accept="image/*" hidden />
          </label>
        </div>
        <form  [formGroup]="requestForm" (ngSubmit)="onSubmit()">
          <input type="text" formControlName="name" placeholder="Name" required />
          <input type="number" formControlName="age" placeholder="Age" required />
          <input type="text" formControlName="location" placeholder="Location" required />
          <input type="text" formControlName="institute" placeholder="Institute" required />
          <textarea formControlName="description" placeholder="Description" required></textarea>
          <input type="text" formControlName="share" placeholder="share" required />
          <div class="login-button" (click)="contact()">
            <button class="contact-btn" type="submit">Contacter</button>
          </div>
        </form>
      </div>
    </main>
  </div>
</div>
