<div id="card" class="w3-main" style="display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0;">
  <div id="card" class="w3-container w3-card-4 w3-padding-32"  style="max-width: 700px; width: 100%; background-color: #fff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 8px; animation: fadeInUp 1s ease-out;">
    <h1 class="w3-xxxlarge w3-text" style="text-align: center;color:#B4846C; font-weight: bold; font-size: 20px; animation: fadeIn 1.5s ease-out;">Registration From</h1>
    <hr style="width: 50px; border: 5px solid; color:#B4846C;; margin: 20px auto;" class="w3-round">
   
    
    <form  target="_blank">
      <div class="flex" style="animation: slideInLeft 1s ease-out;">
        <label for="username" style="font-size: 16px;"></label>
        <input class="w3-input w3-border w3-round" type="text" name="your cin" id="your cin" required placeholder="Your cin" style="padding: 12px; font-size: 14px;">
        <label for="lastname" style="font-size: 16px;"></label>
        <input class="w3-input w3-border w3-round" type="text" name="price" id="price" required placeholder="Price" style="padding: 12px; font-size: 14px;">
      </div>
      
      <div class="flex" style="animation: slideInLeft 1.2s ease-out;">
        <label for="email" style="font-size: 16px;"></label>
        <input class="w3-input w3-border w3-round" type="text" name="surface" id="surface" required placeholder="surface" style="padding: 12px; font-size: 14px;">
     

      
        <label for="password" style="font-size: 16px;"></label>
        <input class="w3-input w3-border w3-round" type="text" name="description" id="description" required placeholder="Description" style="padding: 12px; font-size: 14px;">
      </div>

      <div class="w3-section" style="animation: slideInLeft 1.4s ease-out;">
        <label for="password" style="font-size: 16px;">Postulation Date</label>
        <input class="w3-input w3-border w3-round" type="date" name="description" id="description" required placeholder="Description" style="padding: 12px; font-size: 14px;">
      </div>
    </form>
    <form  target="_blank"> 
      <table>
        
          
      <div class="w3-section" style="animation: slideInLeft 1.4s ease-out;">
        <tr>
        <td><label for="password" style="font-size: 16px;">Rooms number :</label></td><br>
      </tr> 
      <tr>
          <td>
            
        <!-- From Uiverse.io by LilaRest --> 
          <div class="radio-input">
            <div class="glass">
              <div class="glass-inner"></div>
            </div>
            <div class="selector">
              <div class="choice">
                <div>
                  <input
                    class="choice-circle"
                    checked="true"
                    value="one"
                    name="number-selector"
                    id="one"
                    type="radio"
                  />
                  <div class="ball"></div>
                </div>
                <label for="one" class="choice-name">1</label>
              </div>
              <div class="choice">
                <div>
                  <input
                    class="choice-circle"
                    value="two"
                    name="number-selector"
                    id="two"
                    type="radio"
                  />
                  <div class="ball"></div>
                </div>
                <label for="two" class="choice-name">2</label>
              </div>
              <div class="choice">
                <div>
                  <input
                    class="choice-circle"
                    value="three"
                    name="number-selector"
                    id="three"
                    type="radio"
                  />
                  <div class="ball"></div>
                </div>
                <label for="three" class="choice-name">3</label>
              </div>
              <div class="choice">
                <div>
                  <input
                    class="choice-circle"
                    value="4"
                    name="number-selector"
                    id="4"
                    type="radio"
                  />
                  <div class="ball"></div>
                </div>
                <label for="three" class="choice-name">4</label>
              </div>
            </div>
          </div>
        </td>
      </tr>
      </div>
    
    </table>
    <div class="flex" style="animation: slideInLeft 1.4s ease-out;">
      <label for="password" style="font-size: 16px;"></label>
      <input class="w3-input w3-border w3-round" type="text" name="Your phone number" id="Your phone number" required placeholder="Your phone number" style="padding: 12px; font-size: 14px;">
   

    
      <label for="password" style="font-size: 16px;"></label>
      <input class="w3-input w3-border w3-round" type="text" name="city" id="city" required placeholder="City" style="padding: 12px; font-size: 14px;">
    </div>
    <div class="login-button" (click)="about()">
      <button type="submit" class=" w3-block w3-padding-large w3 w3-margin-top w3-hover-shadow" style="font-size: 18px; font-weight: bold;background-color: white; border: 2px solid#B4846C;  border-radius: 5px;"><span style="color:#B4846C" >Submit</span> </button>
    </div>
    </form>
    

  </div>
</div>
