
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>


<div class="w3-main" style="margin-left:340px;margin-right:40px">

  
  
  
    <div class="container">
       
        

       
        <div class="main-content">
            <div class="card">
                <div class="image-zone">
                    <img src="chambre1.jpg" alt="Image 1">
                </div>
                <div class="description">
                    <p>une chambre spacieuse dans s+2</p>
                    <p>au centre ville proche de tous</p>
                    <mark>200dt</mark>
                </div>
            </div>
            <div class="card">
                <div class="image-zone">
                    <img src="ch2.jpg" alt="Image 1">
                </div>
                <div class="description">
                    <p>une chambre individuelle pour un personne dans s+3</p>
                    <p>au centre ville</p>
                    <mark>190dt</mark>
                </div>
            </div>
            <div class="card">
                <div class="image-zone">
                    <img src="m1.jpg" alt="Image 1">
                </div>
                <div class="description">
                    <p>un maison s+2 pour les étudiants au centre proche de tous</p>
                    <p>pour chaque'un <mark>210dt</mark></p>
                </div>
            </div>
            <div class="card">
                <div class="image-zone">
                    <img src="m2.jpg" alt="Image 1">
                </div>
                <div class="description">
                    <p>un maison s+3 pour les étudiants</p>
                    <p>pour chaque'un<mark>160dt</mark></p>
                </div>
            </div>
        </div>
    </div>


  
  
<!-- End page content -->
</div>
