<div id="card" class="w3-main" style="display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0;">
    <div id="card" class="w3-container w3-card-4 w3-padding-32"  style="max-width: 400px; width: 100%; background-color: #fff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 8px; animation: fadeInUp 1s ease-out;">
      <h1 class="w3-xxxlarge w3-text" style="text-align: center;color:#B4846C; font-weight: bold; font-size: 36px; animation: fadeIn 1.5s ease-out;">Register</h1>
      <hr style="width: 50px; border: 5px solid; color:#B4846C;; margin: 20px auto;" class="w3-round">
      <p class="message">*  Signup now and get full access to our app. </p>
      
      <form action="/action_page.php" target="_blank">
        <div class="flex" style="animation: slideInLeft 1s ease-out;">
          <label for="username" style="font-size: 16px;"></label>
          <input class="w3-input w3-border w3-round" type="text" name="UserName" id="username" required placeholder="Firstname" style="padding: 12px; font-size: 14px;">
          <label for="lastname" style="font-size: 16px;"></label>
          <input class="w3-input w3-border w3-round" type="text" name="lastName" id="lastname" required placeholder="Lastname" style="padding: 12px; font-size: 14px;">
        </div>
  
        <div class="w3-section" style="animation: slideInLeft 1.2s ease-out;">
          <label for="email" style="font-size: 16px;">Email</label>
          <input class="w3-input w3-border w3-round" type="email" name="Email" id="email" required placeholder="Enter your email" style="padding: 12px; font-size: 14px;">
        </div>
  
        <div class="w3-section" style="animation: slideInLeft 1.4s ease-out;">
          <label for="password" style="font-size: 16px;">Password</label>
          <input class="w3-input w3-border w3-round" type="password" name="Password" id="password" required placeholder="Enter your password" style="padding: 12px; font-size: 14px;">
        </div>
        
        <button type="submit" class=" w3-block w3-padding-large w3 w3-margin-top w3-hover-shadow" style="font-size: 18px; font-weight: bold;background-color: white; border: 2px solid#B4846C;  border-radius: 5px;"><span style="color:#B4846C" >Sign Up</span> </button>
      </form>
      
      <p style="text-align: center; margin-top: 20px; font-size: 14px; animation: fadeIn 1.5s ease-out;">Already have an account? <a routerLink="/admin/loginuser" style="color:#B4846C;">Log in</a></p>
    </div>
  </div>
