<!-- Close overlay for small screens -->
<div class="overlay w3-overlay w3-hide-large" (click)="w3_close()" title="Fermer le menu" id="myOverlay"></div>

<!-- Main content area -->
<div class="main-content-area"  style="margin-left: 340px; margin-right: 40px;">
  

  <!-- Main Listing Section -->
  <div class="listing-container">
    <!-- <a routerLink="/pay" ></a>  -->
    <div class="card" *ngFor="let item of listings">
      <div class="image-zone" (click)="pay()">
        <img [src]="item.image" [alt]="item.alt"  />
      </div>
      <div class="description">
        <p>{{ item.line1 }}</p>
        <p>{{ item.line2 }}</p>
        <mark>{{ item.price }}</mark>
      </div>
    </div>
    
  </div>
</div>

